body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #87CEEB;
}

.page-title {
  background-image: url(https://images.squarespace-cdn.com/content/v1/65761f22a042f5708d50b646/fb71c05c-fdc5-4ef3-b3d8-f1d7c1b4f4b4/Product-Hero3.jpg);
  background:cover;
  background-size: cover;
  background-position:center;
  background-repeat:repeat-y;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 35px;
  text-align: center;
  color: whitesmoke;
  padding-bottom: 40px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display:flex;
  flex-direction: row;
  justify-content:start;
  align-items: start;
}

.homepage {
  flex-grow: 0.7;
  text-align: center;
  justify-content:start;
  align-items: start;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 350px;
  min-height: 7000px;
  max-height: 7000px;
  padding: 0px 20px 0px 20px;
  color: rgb(66, 66, 66);
  background-color: #4dc7f7;
}


.introduction {
  background-image: url(https://img.freepik.com/free-vector/blue-abstract-background_698452-950.jpg?size=626&ext=jpg&ga=GA1.2.1165541157.1706153647&semt=ais);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
  border: 4px solid rgb(253, 253, 255);
  margin: 40px 0px 20px 0px;
  color: beige;
  margin-left: 5px;
  margin-right: 5px;
}

.introduction>img {
  height: 180px;
  width: 250px;
}

.introduction>p {
  font-size: 16px;
  padding-top: 5px;
  padding: 0px 20px 0px 20px;
  margin: 25px 10px 0px 10px;
  text-align: start;
}

.introduction>h4 {
  font-size: 23px;
  padding: 10px 0px 5px 0px;
}

.introduction-buttons {
  padding-bottom: 30px;
  border: 4px solid rgb(253, 253, 255);
  padding: 0px 10px 25px 10px;
  color: beige;
  background-image: url(https://img.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg?size=626&ext=jpg&ga=GA1.2.1165541157.1706153647&semt=ais);
  margin-left: 5px;
  margin-right: 5px;
}
.introduction-buttons>h3 {
  font-size: 23px;
  padding: 10px 0px 5px 0px;
}

.introduction-buttons>p {
  font-size: 17px;
  padding-top: 5px;
  padding: 0px 10px 0px 10px;
}

.introduction-buttons>button {
  font-size: 16px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(67, 67, 67);
  background-color: rgb(252, 252, 242);
  padding: 7px 10px 7px 10px;
  border: 4px solid rgb(174, 173, 173);
  border-radius: 15px;
  margin: 15px 0px 10px 0px;
}

.introduction-buttons>button:hover {
  font-size: 16px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  color: rgb(67, 67, 67);
  background-color: #FFFFE0;
  padding: 7px 10px 7px 10px;
  border: 7px solid coral;
  border-radius: 15px;
  margin: 15px 0px 10px 0px;
}


.adopted {
  background-image: url(https://img.freepik.com/free-vector/blue-abstract-background_698452-950.jpg?size=626&ext=jpg&ga=GA1.2.1165541157.1706153647&semt=ais);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
  border: 4px solid rgb(253, 253, 255);
  margin: 25px 0px 0px 0px;
  color: beige;
  margin-left: 5px;
  margin-right: 5px;
}

.adopted>h3 {
  font-size: 23px;
  padding: 10px 0px 0px 0px;
}

.adopted>img {
  height: 240px;
  width: 280px;
  object-fit: cover;
  border: 2px solid rgb(225, 228, 238);
  border-radius: 15px;

}

.adopted>p {
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  padding-top: 5px;
  padding: 0px 20px 10px 20px;
  margin: 15px 10px 15px 10px;
}

.contacts {
  padding-bottom: 30px;
  border: 4px solid rgb(253, 253, 255);
  padding: 0px 10px 25px 10px;
  margin: 25px 0px 50px 0px;
  color: beige;
  background-image: url(https://img.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg?size=626&ext=jpg&ga=GA1.2.1165541157.1706153647&semt=ais);
  margin-left: 5px;
  margin-right: 5px;
}

.contacts>h4 {
  font-size: 23px;
  padding: 10px 0px 5px 0px;
  margin: 20px 0px 10px 0px;
}

.contacts>h5 {
  font-size: 19px;
  text-decoration: underline;
  margin: 0px 0px 0px 0px;
}

.contacts>p {
  font-size: 17px;
}

.array {
  flex-grow: 8;
  display: flex;
  flex-direction: column;
}

.adoption-title {
  color: rgb(76, 74, 74);
  font-size: 35px;
  text-align: center;
  min-height: 180px;
  max-height: 180px;
  padding-top: 10px;
  padding-bottom: 25px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.adoption-title>img {
  height: 150px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.adoption-title>button {
  padding: 10px 10px 40px 10px;
  margin: 40px 0px 25px 0px;
  font-size: 50px;
  border-radius: 15px;
  font-family: Codystar,cursive;
  color: whitesmoke;
  font-weight: 600;
  font-size: 5vh;
  border: 15px double rgb(225, 228, 238);
  border-radius: 15px;
  padding: 0 25px;
  background-image: url(https://img.freepik.com/free-vector/blue-abstract-background_698452-950.jpg?size=626&ext=jpg&ga=GA1.2.1165541157.1706153647&semt=ais);
}

.adoption-title>p {
  padding: 0px 0px 0px 0px;
  margin: 8px 0px 0px 0px;
  font-size: 20px;
  font-style: italic;
}

.profiles {
  margin: 10px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.pet-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url(https://img.freepik.com/free-vector/blue-abstract-background_698452-950.jpg?size=626&ext=jpg&ga=GA1.2.1165541157.1706153647&semt=ais);
  width: 16vw;
  padding: 10px;
  border: 6px solid whitesmoke;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #1a1a1a;
  margin: 20px;
  color: #fff
}

.pet-profile>img {
  width: 15vw;
  height: 20vw;
  object-fit: cover;
  border: 3px solid whitesmoke;
  border-radius: 15px;
  cursor: zoom-in
}

.pet-profile:hover {
  border: 8px dotted rgb(253, 240, 169);
}

.pet-breed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px groove white;
  border-radius: 15px;
  align-items: center;
  justify-content: center
}

.breed {
  width: 200px;
  height: 2vh;
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 17px;
  border: 3px solid whitesmoke;
  border-radius: 10px;
}

.pet-intro {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 700;
  margin: 12px 0px 0px 0px;
}

.pet-name {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  font-weight: 800;
  margin: 10px 0px 10px 0px;
}

.pet-know {
  font-size: 15px;
  font-weight: 700;
  margin: 15px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
  border: 2px groove #4169E1;
  border-radius: 15px;
  background-color: whitesmoke;
  color: rgb(76, 74, 74);
  max-width: 280px;
  min-width: 280px;
}

.details-title {
  font-size: 16px;
  font-weight: 900;
  text-decoration: underline;
  text-align: center;
  color: #000080;
  padding: 0px 0px 0px 0px;
  margin: 5px 5px 10px 5px;
}

.details {
  padding: 0px 0px 0px 0px;
  margin: 5px 5px 5px 5px;
}
